@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fefffc;
  --secondary-color: #f6f1ea;
  --accent-color: #9fa5b0;
  --text-color: #363b4e;
  --background-color: #F0EBE3;
  --high-color: #c980c4;
  --medium-color: #e0a093;
  --low-color: #85bfaa;
}

.dark {
  --primary-color: #454a5a;
  --secondary-color: #313544;
  --accent-color:#cbced6;
  --text-color: #F0EBE3;
  --background-color: #363b4e;
  --high-color: #a56cc1;
  --medium-color: #a6acec;
  --low-color: #ace7ef;
}

.btn {
  @apply hover:text-accent transition-colors;
}

.title {
  @apply text-2xl font-bold;
}

.high {
  @apply border-high checked:bg-high;
}

.medium {
  @apply border-medium checked:bg-medium;
}

.low {
  @apply border-low checked:bg-low;
}

.none {
  @apply border-accent checked:bg-accent;
}

.checkbox {
  @apply relative;
}

.checkbox:checked:after {
  content: '✓';
  @apply block w-4 h-4 text-xl text-background absolute -top-1.5 left-0;
}

.dot::before {
  @apply inline-block w-3 h-3 rounded-full mr-2;
  content: '';
}

.section {
  @apply bg-secondary p-5 rounded-lg border-2 border-text;
}